!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title
      Top Tweets!
    %link{:href => "http://#{@host}/css/styles.css", :rel => "stylesheet"}
  %body
    %img{:src => "http://#{@host}/images/header.png", :alt => "header"}
    %table
      - @topstatus[0..@n-1].each do |top|
        %tr
          %td.user
            = top.tweet.user.name
          %td.tweet
            %div
              = top.tweet.text
      %tr
        %td{:colspan => 2} 
          %p
            Since: #{@last[0..19]}
    %img{:src => "http://#{@host}/images/footer.png", :alt => "footer"}